<div class="grid-container">
    <div class="grid-element header">
    <li> <a class="nav-link" routerLink="/account">Account</a></li></div>
    <div class="grid-element sidebar">
        <div> test </div>
    </div>
    <div class="grid-element main">
        <div class="input-field">
            <input placeholder="Placeholder" type="text" class="validate">
        
        </div>
    </div>
    <div class="grid-element textbox">
        <div class="input-field">
            <input placeholder="Type your message here" type="text" class="validate">
        
        </div>
    </div>
</div>