body {
    text-align: center;
    font-family: "Dosis";
    margin: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 0.15fr 0.80fr;
    height: 90vh;
    padding: 10px 10px 0;
    box-sizing: border-box;
    background-color: rgb(26, 23, 23);
  }
  
  .grid-element {
    
    color: #fff;
    padding: 20px;
    font-size: 2em;
    margin-bottom: 10px;
  }
  .header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: rgb(0, 0, 0);
    background-image:url("../../sky.jpg");
    display: flex;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
  }
  
  .sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    background: rgb(0, 0, 0);
    background-image:url("../../sky.jpg");
    background-size: cover;
    overflow-y: auto;
  }

  .btn-primary:hover {
    color: rgb(0, 81, 255) !important;
    text-decoration: underline;
    text-decoration-color: rgb(0, 81, 255);
}

  .chatName {
    flex:1; 
    text-align:center;
  }
  
  .main {
    background-image:url("../../sky.jpg");
    overflow-y: auto;
    margin-left: 10px;
    display:grid;
    grid-gap: 0.5rem;
    grid-auto-rows: min-content;
    height: 100%;
  }

  .textbox{
    grid-column-start: 2;
    grid-row-start: 4;
    background-image:url("../../sky.jpg");
    overflow-y: auto;
    margin-left: 10px;
  }
  .chatbutton {
    width: 15%;
    float: right;
  }

  .msg-bubble {
    background-color: rgb(26, 23, 23);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.6rem;
  }