<div class="grid-container">
    <div class="grid-element header">
        <a class="nav-link" routerLink="/account">Account</a>
    </div>
    <div class="grid-element sidebar">
        <div class="grid-element channels">
            <div *ngFor="let group of groupList">
                {{group.name}}
                <div *ngFor="let channel of channelList">
                    <button (click)="messageList(channel.CID)" *ngIf="channel.group==group.name" class="btn btn-primary">{{channel.name}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-element main">
        <div *ngFor="let msg of msgList">
            <div *ngIf="msg.user==name" style="text-align:right; color:rgb(141, 25, 25); font-family:'Courier New', Courier, monospace;">{{name}}</div>
            <div *ngIf="msg.user==name" style="text-align:right; font-family:'Courier New', Courier, monospace;" >{{msg.body}}</div>

            <div *ngIf="msg.user!=name" style="text-align:left; color:lime; font-family:'Courier New', Courier, monospace;">{{msg.user}}</div>
            <div *ngIf="msg.user!=name" style="text-align:left; font-family:'Courier New', Courier, monospace;" >{{msg.body}}</div>
        </div>
    </div>
    <div class="grid-element textbox">
        <form class="input-field">
            <!--Take the input of the chat, post it to the channel
                Something with observers and subscribing here very likely-->
            <span><input placeholder="Type here to Chat" type="text" class="textbox" [(ngModel)]="chatmessage" name="chatmessage" autocomplete="off" style="width:80%; background-color: black; color:white;"></span>
            <button class="btn btn-primary chatbutton" (click)="chatSubmit()" type="submit">Post</button>
        </form>
    </div>
</div>