<div id="LoginForm">
<div class="simple-login-container">
    <h2>Login</h2>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Username" 
            id="inputID" [(ngModel)]="UID" name="UID">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Enter your Password" class="form-control" 
            id="inputPass" [(ngModel)]="pwd" name="pwd">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
                <button  class="btn btn-block btn-login" (click)="checkLogin()">Login</button>
        </div>
    </div>
    <div style="text-align:center" class="row">
        <div class="col-md-12">
            <p *ngIf="verify" style="color:#EEEEEE;">Enter your username and password.</p>
            <p *ngIf="!verify">Username or password incorrect. Try again.</p>
        </div>
    </div>
</div>
</div>