#LoginForm{
    padding:10px;
}

.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
    background-color: rgb(26, 23, 23);
    padding: 1.5rem;
    box-sizing: content-box;
}
.simple-login-container h2{
    text-align:center;
    font-size:40px;
    color:#fff;
}

.simple-login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
p{
    color:rgb(236, 90, 100);
}
