.nav.navbar-nav.navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-child{
    padding:10px;
}

.navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
    font-size: 28px;
    color: #FFF;
    background-color: rgb(26, 23, 23);
    width: 100%;
}

.nav-link:hover {
    color: rgb(0, 81, 255) !important;
    text-decoration: underline;
    text-decoration-color: rgb(0, 81, 255);
}