body#AccPage{
    background-image:url("https://www.muralsyourway.com/media/catalog/product/cache/1/base/1200x/040ec09b1e35df139433887a97daa66f/r/f/rf9967533_illustration_of_a_starry_sky_night_scene_copy.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:10px;
    color:#fff
    
}