.has-bg{
    background-image:url("../../sky.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.grid-container{
    grid-template-columns: 0.15fr 0.80fr;
    padding:10px;
    display: flex;
    flex-direction:row;
}

.sidebar{
    align-items:center;
    display: flex;
    flex-direction:column;
    color:#fff;
}

.nav.navbar-nav.navbar-default{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.nav-child{
    padding:10px;
}

.groups {
    background: #454545;
}

.glist{
    display: -webkit-flex;
    flex-direction: inherit;
    
}

.clist{
    display: flex;
    flex-direction: row;
}