
<div class="grid-container has-bg">
    <div class="grid-container sidebar">
        <h1 style="text-align:center">{{username}}'s account</h1>
        <img height="100%" width="100%" alt="GoogleDoggo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDVQsMtPh2VicuzciRqUCtiBSW9SUSfRLjI4F7-rYIp8r_4cR_ng">
        <div class="grid-container sidebar-child">
            <ul class="nav navbar-nav navbar-default">
                <li><a class="nav-child">{{email}}</a></li>
                <li><a class="nav-child" routerLink="/chat">Go To Chat</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-container groups">
        <a class="glist" *ngFor="let group of groupList" style="font-family:Georgia; font-size:24px; color:white;">
            {{group.name}}
            <div class="clist" *ngFor="let channel of channelList">
                <div style="font-family:Georgia; font-size:18px;" *ngIf="channel.group==group.name">{{channel.name}}</div>
            </div>    
        </a>
    </div>
</div>

<router-outlet></router-outlet>

<!--{{groupList.name}}, {{channel.name}}-->